/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.1.1/executionHistory/executionHistory.lock
/.gradle/6.1.1/fileHashes/fileHashes.bin
/.gradle/6.1.1/fileHashes/fileHashes.lock
/.gradle/6.1.1/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/6.1.1/fileChanges/last-build.bin
/local.properties
/.gradle/6.1.1/javaCompile/javaCompile.lock
/.gradle/buildOutputCleanup/outputFiles.bin
